p{color:red;}
h1{background-color:blue;color:red;}
.right{color:blue;font-family:arial;font-size:40px;background-color:red}
.sub{color:red;font-size:30px;position:sticky;}
#AK{color:red;letter-spacing:10px;background-color:blue;font-size:40px;border-style}
#sub2{color:violet;background-color:white;border-style:double;border-color:blue;font-size:60px;text-align:center}
.sub3{color:black;font-size:40px;animation_name:ease-in;animation-delay:2s;animation-duration:4s;)